<div class="mx-auto col-11 col-xs-10 col-sm-8 col-md-8 col-lg-6">
    <app-currency (resetCurrency)="changeShowCurrency(false)" [currency]="currency" *ngIf="showCurrency" [key]="currencyTo"></app-currency>
    <form [formGroup]="form" (ngSubmit)="converter()" >
        <div class="form-group mb-3">
            <label for="amount">Monto</label>
            <input type="number" formControlName="amount" class="form-control" placeholder="Monto a convertir">
        </div>
        <div class="alert alert-danger p-2" role="alert" *ngIf="form.controls.amount?.errors && showErrors">
            <p class="my-1" *ngIf="form.controls.amount.hasError('required')">El monto es requerido</p>
            <p class="my-1" *ngIf="form.controls.amount.hasError('min')">El valor minimo es $1</p>
        </div>
        <div class="form-group mb-3">
            <label for="from">Moneda origen</label>
            <ng-select formControlName="from" notFoundText="No se encontro ninguna moneda" placeholder="Selecciona moneda">
                <ng-option *ngFor="let curency of currencies" [value]="curency.id">{{curency.name}}</ng-option>
            </ng-select>
        </div>
        <div class="alert alert-danger p-2" role="alert" *ngIf="form.controls.from?.errors && showErrors">
            <p class="my-1" *ngIf="form.controls.from.hasError('required')">La moneda de origen es requerida</p>
        </div>
        <div class="form-group mb-3">
            <label for="to">Moneda a convertir</label>
            <ng-select formControlName="to" notFoundText="No se encontro ninguna moneda" placeholder="Selecciona moneda">
                <ng-option *ngFor="let curency of currencies" [value]="curency.id">{{curency.name}}</ng-option>
            </ng-select>
        </div>
        <div class="alert alert-danger p-2" role="alert" *ngIf="(form.controls.to?.errors || form.errors) && showErrors">
            <p class="my-1" *ngIf="form.controls.to.hasError('required')">La moneda a convertir es requerida</p>
            <p class="my-1" *ngIf="form.hasError('equal')">Las monedas no pueden ser iguales</p>
        </div>
        <div class="d-grid gap-1">
            <button type="submit" class="btn btn-primary" [disabled]="submit">convertir</button>
        </div>
    </form>
</div>