img{
    animation: rotate 1.4s infinite ease-in;
    max-width: 200px;
}

.backdrog{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
}

@keyframes rotate {
    to{
        transform: rotateY(360deg);
    }
}